body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #000000, #034d66, #047cb0);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
}

.animated-button {
  position: relative;
  padding: 35px 140px;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: transparent;
  border: 5px solid white;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.animated-button::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-radius: 35px;
  background: linear-gradient(
    90deg,
    #ff8c00,
    #ff2e63,
    #8000ff,
    #ff2e63,
    #ff8c00
  );
  background-size: 500%;
  animation: borderMove 4s linear infinite;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

@keyframes borderMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 500%;
  }
}

.animated-button::after {
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: 25px;
  background: #0a0a0a;
  z-index: -1;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.animated-button span {
  position: absolute;
  top: 50%;
  left: -100%;
  width: 250%;
  height: 600%;
  transform: skewX(-30deg) translateY(-50%);
  transition: left 0.5s ease-in-out;
  z-index: 0;
  opacity: 0.7;
}

.animated-button:hover {
  transform: scale(1.25);
  border-color: transparent;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}

.animated-button:hover::before {
  opacity: 1;
}

.animated-button:hover span {
  left: 100%;
}

.animated-button:active {
  transform: scale(1.15);
}
